@model Test_ASP_MVC.Models.Speaker
@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.Bio)</dt>
        <dd>@Html.DisplayFor(model => model.Bio)</dd>
    </dl>

</div>