@model Test_ASP_MVC.Models.Topic
@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>


        <dt>@Html.DisplayNameFor(model => model.Speaker)</dt>
        <dd>@Html.DisplayFor(model => model.Speaker.Name)</dd>
    </dl>
    <form asp-controller="Topic" asp-action="DeleteConfirmed" asp-route-topicId="@Model.TopicId">
        <input type="submit" class="btn btn-default" value="Delete" />
    </form>
</div>