@using System.Security.Claims
@using Stolons.Services
@model IEnumerable<Stolons.Models.News>


@{
    ViewData["Title"] = "Nouvelles de l'association et de ces producteurs";
}

<h2>@ViewData["Title"]</h2>


@if (User.IsSignedIn())
{
    <p>
        <a asp-action="Create">Ajouter une nouvelle</a>
    </p>
}
<table class="table">
        @foreach (var item in Model.OrderByDescending(x => x.DateOfPublication))
            {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageLink)" class="responsiveImage" style="float:left;width:375px;height:216px;margin-right:5px" />
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>
                        Publi&eacute; par ??? le @Html.DisplayFor(modelItem => item.DateOfPublication)
                        <a asp-action="Edit" asp-route-id="@item.Id">Editer</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    </p>
                    @Html.DisplayFor(modelItem => item.Message)

                </td>
            </tr>
        }
</table>
