@using System.Security.Claims
@using Stolons.Services

@model IEnumerable<Stolons.Models.News>


@{
    ViewData["Title"] = "Nouvelles de l'association et de ces producteurs";
}

<h2>@ViewData["Title"]</h2>


@if (User.IsSignedIn())
{
    if (    User.IsInRole(Configurations.Role.Administrator.ToString())
||  User.IsInRole(Configurations.Role.Volunteer.ToString())
||  User.IsInRole(Configurations.UserType.Producer.ToString()))
    {
        <p>
            <a asp-action="Create">Ajouter une nouvelle</a>
        </p>
    }
}
<table class="table">
        @foreach (var item in Model.OrderByDescending(x => x.DateOfPublication))
        {
            <tr>
                <td  class="tdImageNews">
                    <img src="@Html.DisplayFor(modelItem => item.ImageLink)" class="newsThumnail responsiveImage" >
                </td>
                <td>
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>
                        <div class="userNewsAvatar">
                            <img src="@Html.DisplayFor(modelItem => item.User.Avatar)" class="responsiveImage circleAvatarDiv" />
                        </div>
                        @if (User.IsInRole(Configurations.UserType.Producer.ToString()))
                        {
                             <a asp-action="PartialDetail" asp-controller="Producers" asp-route-id="@item.User.Id">@Configurations.GetAlias(item.User)</a>
                        }
                        else
                        {
                            @Configurations.GetAlias(item.User)
                        }
                        le @Html.DisplayFor(modelItem => item.DateOfPublication)
                        @if (User.IsInRole(Configurations.Role.Administrator.ToString())
                        || User.IsInRole(Configurations.Role.Volunteer.ToString())
                        || User.GetUserId() == item.User.Email)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Editer </a><a asp-action = "Delete" asp-route-id = "@item.Id">| Supprimer</a>
                        }
                    </p>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }
</table>
