@model Stolons.Models.Producer

@{
    ViewData["Title"] = "Suppression du producteur : " + Model.CompanyName;
}

<h2>@ViewData["Title"]</h2>

<h3>Etes vous sur de vouloir supprimer : @Model.CompanyName</h3>
<div>
    <h4>Producer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserRole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cotisation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cotisation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExploitationPicuresSerialized)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExploitationPicuresSerialized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Production)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Production)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebSiteLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebSiteLink)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Retourner aux producteurs</a>
        </div>
    </form>
</div>
