@model ApplicationConfig

@{
    ViewData["Title"] = "Configuration du site web";
}

<h2>@ViewData["Title"]</h2>
<p>Mode actuel : @Configurations.Mode</p>
<div>
    <h4>Configuration de la structure</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StolonsLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StolonsAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StolonsPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comission)%
        </dd>
    </dl>

    <h4>Configuration des pages du site</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StolonsAboutPageText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsAboutPageText)
        </dd>       
    </dl>
    <h4>Courriel de contact</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactMailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactMailAddress)
        </dd>
    </dl>
        
    <h4>Courriel de Stolons pour envoie des messages aux utilisateurs</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailSmtp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailSmtp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailPort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailPort)
        </dd>
    </dl>
    <h4>Message d'information utilisateurs</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDeliveryMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDeliveryMessage)
        </dd>
    </dl>
    <h4>Début des commandes :</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderAndUpdateDayStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderAndUpdateDayStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderAndUpdateHourStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderAndUpdateHourStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderAndUpdateMinuteStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderAndUpdateMinuteStartDate)
        </dd>
    </dl>
    <h4>Début livraison et mise à jour des stocks :</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAndStockUpdateDayStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryAndStockUpdateDayStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAndStockUpdateDayStartDateHourStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryAndStockUpdateDayStartDateHourStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAndStockUpdateDayStartDateMinuteStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryAndStockUpdateDayStartDateMinuteStartDate)
        </dd>
    </dl>
    <h4>Simulation :</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsModeSimulated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsModeSimulated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SimulationMode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SimulationMode)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit">Modifier</a>
</p>
