@model ApplicationConfig

@{
    ViewData["Title"] = "Configuration du site web";
}

<h2>@ViewData["Title"]</h2>
<p>Mode actuel : @Configurations.Mode</p>
<div>
    <h4>Configuration de la structure</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StolonsLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StolonsAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StolonsPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsPhoneNumber)
        </dd>
    </dl>

    <h4>Configuration des pages du site</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StolonsAboutPageText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsAboutPageText)
        </dd>       
    </dl>

    <h4>Courriel de Stolons pour envoie des messages aux utilisateurs</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StolonsMailAdress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsMailAdress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailApiKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailApiKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailApiFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailApiFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailBaseUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailBaseUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailRequestUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailRequestUri)
        </dd>
    </dl>
    <h4>Message d'information utilisateurs</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDeliveryMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDeliveryMessage)
        </dd>
    </dl>
    <h4>Début préparation des commandes :</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreparationDayStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreparationDayStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreparationHourStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreparationHourStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreparationMinuteStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreparationMinuteStartDate)
        </dd>
    </dl>
    <h4>Début mise à jour des stocks :</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockUpdateDayStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockUpdateDayStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockUpdateHourStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockUpdateHourStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockUpdateMinuteStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockUpdateMinuteStartDate)
        </dd>
    </dl>
    <h4>Début passage des commandes :</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDayStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDayStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderHourStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderHourStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderMinuteStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderMinuteStartDate)
        </dd>
    </dl>
    <h4>Simulation :</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsModeSimulated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsModeSimulated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SimulationMode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SimulationMode)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit">Modifier</a>
</p>