@{
    ViewData["Title"] = "Que sommes nous ?";
}

<h2>@ViewData["Title"]</h2>

<p>@Configurations.ApplicationConfig.StolonsAboutPageText</p>

<address>
    <strong>Adresse : </strong>@Configurations.ApplicationConfig.StolonsAddress<br />
    <strong>Téléphone : </strong>@Configurations.ApplicationConfig.StolonsPhoneNumber<br />
    <strong>Courriel:</strong> <a href="mailto:@Configurations.ApplicationConfig.StolonsMailAdress">@Configurations.ApplicationConfig.StolonsMailAdress</a><br/>
</address>
