@using Stolons.Helpers
@using Stolons.ViewModels.WeekBasket;
@model WeekBasketViewModel

@{
    ViewData["Title"] = "Mon panier";
}

<h2>@ViewData["Title"]</h2>

<div class="weekbasket">
    <div class="row">
        <!-- Mon panier-->
        <div class="myBasket col-lg-3">

        </div>

        <!-- Les produits-->
        <div class="products col-lg-9">
            @foreach (Product product in Model.Products)
            {
                <div class="product">
                    <div class="product-top">
                        <div class="pr_img product-top">
                            <img src="@Configurations.GetUrl(product.GetFirstImage())" />
                        </div>
                        <div class="pr_avatar">
                            <img src="@Configurations.GetUrl(product.Producer.Avatar)" />
                        </div>
                        <div class="pr_labels">
                            @foreach (Product.Label label in product.Labels)
                            {
                                <div class="pr_label">
                                    <img src="@Configurations.GetUrl(label.GetImage())" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="product-bottom">
                        <div class="pr_text">
                            <div class="pr_name">
                                @product.Name
                            </div>
                            <div class="pr_priceQuantity">
                                @(product.Price +"€")
                                @if (product.Type == Product.SellType.Piece)
                                {
                                    @(" la pièce")
                                }
                                else
                                {
                                    @(" / " + product.ProductUnit.ToString())
                                }
                            </div>
                        </div>
                        <div class="pr_actions">
                            <div class="pr_actionAdd">
                                <button type="button" class="btn btn-default">Ajouter au panier</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>


        <!-- Les filtres-->
        <div class="filters">

        </div>
    </div>

    <div class="container" style="display:none;">

        <div class="container col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="row">
                <label class="control-label" for="productFamilly">Famille : </label>
                <select name="productFamilly">
                    <optgroup label="Tous">
                        <option value="Tous">Tous</option>
                    </optgroup>
                    @foreach (var productType in Model.ProductTypes)
                    {
                        <optgroup label="@productType.Name">
                            @foreach (var productFamily in productType.ProductFamilly)
                            {
                                <option value="@productFamily.FamillyName">@productFamily.FamillyName</option>
                            }
                        </optgroup>
                    }
                </select>

                <label class="control-label" for="labels">Label: </label>
                    <select name="labels">
                        @foreach (Product.Label label in Enum.GetValues(typeof(Product.Label)))
                        {
                            <option>
                                @(EnumHelper<Product.Label>.GetDisplayValue(label))
                            </option>
                        }
                    </select>

                <label class="control-label" for="labels">Label: </label> 

                <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Select Fruits</span>
                    <ul id="items" class="items">
                        @foreach (Product.Label label in Enum.GetValues(typeof(Product.Label)))
                        {
                            <li><input type="checkbox" id="@label" />@(EnumHelper<Product.Label>.GetDisplayValue(label)) </li>
                        }
                    </ul>
                </div>

                <script>
                    var checkList = document.getElementById('list1');
                    var items = document.getElementById('items');
                    checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
                        if (items.classList.contains('visible')) {
                            items.classList.remove('visible');
                            items.style.display = "none";
                        }

                        else {
                            items.classList.add('visible');
                            items.style.display = "block";
                        }


                    }

                    items.onblur = function (evt) {
                        items.classList.remove('visible');
                    }
                </script>


                <input type="text" placeholder="Rechercher un produit" />

</div>
            Liste de tous les produits disponibles

            <br />
             
        </div>
        <div class="row">
            
        </div>
    </div>
</div>